DISCORD_BOT_TOKEN={{ discord_bot_token }}
DISCORD_APP_ID={{ discord_app_id }}
GEMINI_API_KEY={{ gemini_api_key }}
GITHUB_APP_ID={{ github_app_id }}
GITHUB_APP_INSTALLATION_ID={{ github_app_installation_id }}
GITHUB_APP_PRIVATE_KEY_PATH=/run/secrets/github_app_key.pem
